<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-autowire="byName">
        <!--与下面相同概念 ^^^^^^  -->

<!--    <bean name="userDAO" class="com.zxcc.dao.impl.UserDAOImpl">-->
<!--        <property name="daoId" value="1">-->

<!--        </property>-->
<!--    </bean>-->

    <bean name="userDAO2" class="com.zxcc.dao.impl.UserDAOImpl">
        <property name="daoId" value="2">

        </property>
     </bean>
        <!--byName 根据对象名称来匹配bean  byType 根据对象类型来匹配bean 只能单一-->
    <bean id="userService" class="com.zxcc.service.UserService" scope="prototype" autowire="byType">
        <!-- 根据service 的setUserDAO方法中的对象UserDAO创建对象-->
<!--        <property name="userDAO" ref="userDAO">-->

<!--        </property>-->

        <!-- service 创建了构造方法传实现UserDAO接口的类来创建UserDAO对象-->
<!--        <constructor-arg ref="u">-->

<!--        </constructor-arg>-->

    </bean>

</beans>
